
.first {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first p {
    text-align: justify;
    margin-top: 5px;
    margin-right: 160px;
    /* padding: 2px 283px; */
}

#sen11{
    font-size: 65px;
    margin-top: 0px;
    
    color: aliceblue;
    padding-top: 0px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    padding-left: 6px;
}

#sen12{
    font-size: 65px;
    
    color: aliceblue;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    padding-left: 70px;
}
#sen13{
    font-size: 65px;
   
    color: aliceblue;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    padding-left: 93px;
}
#sen14 {
    padding: 2px 2px;
    padding-left: 31px;
    color: aliceblue;
}
.second{
    flex-direction: column;
}
#ii3 {
    padding-right: 58px;
    padding-top: 10px;
}
.third p {
    font-size: 1.8rem;
    color: rgb(0 68 114);
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
}
.fourth{
    width: 80.7%;
}
.carrd{
    flex-direction: column;
}
.carrd-image img {
    width: 100%;
    height: 490px;
    display: block;
}
.carrd-content {
    padding: 6px;
}
.blog-title {
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    color: #bc9f03;
    font-size: 16px;
}
.blog-title2 {
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    color: #bc9f03;
    padding-top: 10px;
    font-size: 16px;
}
.carrd-details {
    padding: 16px 0px;
    padding-right: 0px;
    font-size: 12px;
    color: #bc9f03;
}
.buttton {
    text-decoration: none;
    color: #bc9f03;
    font-size: 16px;
}
.fifth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.fifth h2 {
    padding: 2px 288px;
    padding-top: 7px;
    font-size: 1.8rem;
    color: rgb(0 68 114);
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
}
.fifth p {
    padding: 2px 55px;
    font-size: 12px;
}
.carrd1{
    flex-direction: column;
}
.carrd1-image img {
    width: 100%;
    height: 490px;
    display: block;
}
.blog1-title {
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    color: #bc9f03;
    font-size: 16px;
}
.carrd1-details {
    padding: 16px 0px;
    padding-right: 0px;
    font-size: 12px;
    color: #bc9f03;
}
.buttton1 {
    text-decoration: none;
    color: #bc9f03;
    font-size: 16px;
}
.seventh {
    display: flex;
    background-color: rgb(1 43 71);
     flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.seventh1 img {
    width: 101px;
    height: 107px;
    margin: 35px 70px;
    margin-left: 79px;
    margin-bottom: 0px;
}
.seventh1 p {
    padding-left: 74px;
    padding-bottom: 2px;
}
.seventh2 img {
    width: 101px;
    height: 107px;
    margin: 5px 70px;
    margin-bottom: 8px;
}
.seventh2 p {
    padding-left: 68px;
    padding-bottom: 12px;
}
.seventh3 img {
    width: 101px;
    height: 107px;
    margin: 0px 70px;
    margin-bottom: 4px;
}
.seventh3 p {
    padding-left: 75px;
    padding-bottom: 3px;
}
.seventh4 img {
    width: 101px;
    height: 107px;
    margin: 0px 70px;
    margin-bottom: 14px;
}
.seventh4 p {
    padding-left: 63px;
    padding-bottom: 29px;
}
.eighth p {
    background-color: rgb(203 204 204);
    padding: 82px 42px;
    font-size: 1.5rem;
    margin-bottom: 0px;
}
.ninth{
    flex-direction: column;
}
.head00 a {
    text-decoration: none;
    color: #061065;
    font-size: 1.1rem;
    padding: 0px 0px;
    margin: 7px 32px;
}
.ninth img {
    width: 88%;
    /* height: 402px; */
    display: block;
}
.tenth img {
    height: auto;
    width: 100%;
}
.eleventh p {
    font-size: 1.8rem;
    color: rgb(0 68 114);
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
}
.twelvth{
    width: 80.7%;
}
.carrd2{
    flex-direction: column;
}
.carrd2-image img {
    width: 100%;
    height: 490px;
    display: block;
}
.carrd2-content {
    padding: 6px;
}
.blog2-title {
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    color: #bc9f03;
    font-size: 16px;
}
.blog2-title2 {
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    color: #bc9f03;
    padding-top: 10px;
    font-size: 16px;
}
.carrd2-details {
    padding: 16px 0px;
    padding-right: 0px;
    font-size: 12px;
    color: #bc9f03;
}
.buttton2 {
    text-decoration: none;
    color: #bc9f03;
    font-size: 16px;
}
.cont-image img {
    height: 86px;
    width: 92px;
    border-radius: 61px;
    margin-bottom: 18px;
    margin-top: 10px;
}
.thirteenth {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #305bc15c;
    padding: 31px 0px;
}
.thirteenth h2 {
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    font-size: 1.8rem;
    padding: 0px 81px;
}
.thirteenth p {
    font-size: 1.3rem;
    padding: 2px 102px;
}
.bbb {
    border: 1px solid black;
    margin: 0px 167px;
}
.carrd:hover{
    background-color: rgba(40, 40, 40, 0.605);
    color: aliceblue;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
.carrd1:hover{
    background-color: rgba(40, 40, 40, 0.605);
    color: aliceblue;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
.carrd2:hover{
    background-color: rgba(40, 40, 40, 0.605);
    color: aliceblue;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}